:root {
  font-family:
          -apple-system,
          system-ui,
          BlinkMacSystemFont,
          'Segoe UI',
          Roboto,
          'Helvetica Neue',
          Arial,
          sans-serif;

  @media screen and (max-width: $small-screen) {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}
